body {
    background: black;
}

.post {
	background: white;
	width: 400px;
	height: 600px;
	margin: auto;
    margin-top: 30px;
}

.postheader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 5px;
}

.postheaderdata {
    font-size: small;
    position: relative;
    margin-left: -260px;
    margin-top: 1px;
    
}
.postheaderdata p {
    margin-top: 0px;
}
.postheaderdata h1 {
    margin-top: 0%;
    margin-bottom: 0px;
}

.rightHeader {
    margin-right: 5px;
    margin-top: 1px;
    padding-left: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
}


.footerText{
    margin-top: 20px;
    padding: 0px 5px 2px 5px;
}

.footerIconLeft{
        margin-left: 5px;
}

.footerIconRight{
        margin-right: 5px;
}

.rightheadericon{
    margin-top: 2px;
    margin-left: 3px;
       
}
